.groups
  = link_to root_path, class:"group" do
    .group__name グループ名1
    .group__message メッセージ1
  = link_to root_path, class:"group" do
    .group__name グループ名2
    .group__message メッセージ2
  = link_to root_path, class:"group" do
    .group__name グループ名3
    .group__message メッセージ3
