.wrapper
  = render partial: 'messages/side_bar'

  .right-contents
    .header
      .left-header
        .left-header__title
          グループ名1
          %ul.left-header__members
            %li.member Members:
            %li.member 矢部,
            %li.member 秀明,
            %li.member yabe,
            %li.member hideaki
      .right-header
        = link_to root_path, class: "right-header__button" do
          Edit
    = render partial: 'messages/middle__content'
    = render partial: 'messages/bottom__content'

